<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_store"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_store_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmerApp">
        <activity
            android:name=".ui.screens.authentication.FarmerDetailsConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.authentication.AuthenticateFarmerIdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.authentication.PreRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.dbt.DBTDashboard"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.sidenavigation.leaderboard.LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.sidenavigation.experts.ExpertsCornerFilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.sidenavigation.costcalculator.CropCostCalculationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.sidenavigation.costcalculator.CostCalculatorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.sidenavigation.experts.ExpertsCornerFarmerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.sidenavigation.experts.ExpertsCornerAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.notification.DetailedNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.etl.AgriStackAdvisoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.shetishala.ShetishalaScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.shetishala.ShetishalaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.dbt.mahadbt.MahaDbtSchemesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.dbt.mahadbt.MahaDbtSchemesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.sidenavigation.CreditsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.sidenavigation.news.NewsWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.dbt.DBTActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.video.VideosDetailedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.video.VideosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.sop.SOPActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.sop.SOPWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.sidenavigation.AboutActivity"
            android:exported="false" />

        <meta-data
            android:name="org.osmdroid.config"
            android:value="osmdroid" />

        <activity
            android:name=".ui.screens.dashboard.forum.SingleReplyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.forum.ForumPostDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.forum.ForumViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.forum.ForumActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.chc.CHCenterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.dbt.pocra.PocraSchemesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.soilhealthcard.DetailedSoilHealthCardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.weather.WeatherActivity"
            android:exported="false"
            android:theme="@style/WeatherTheme" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.advisory.AdvisoryCropActivity"
            android:exported="false" />
        <activity android:name=".ui.screens.dashboard.menugrid.FertilizerCalculatorActivity" />
        <activity android:name=".ui.screens.dashboard.menugrid.pest.PestsAndDiseasesStages" />
        <activity android:name=".ui.screens.dashboard.menugrid.pest.DiseaseInformation" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.AddCropActivity"
            android:exported="false" />
        <activity android:name=".ui.screens.dashboard.sidenavigation.news.NewsListActivity" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.climate.ResilientWebUrl"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.climate.ClimateDetailsGrid"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.climate.ClimateResilientTechnology"
            android:exported="false" />
        <activity
            android:name=".ui.screens.authentication.ConfirmPassword"
            android:exported="false" />
        <activity
            android:name=".ui.screens.authentication.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.marketprice.MarketPrice"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.dbt.pocra.PocraDbtSchemes"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.soilhealthcard.SoilHealthCardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.dashboard.menugrid.Warehouse"
            android:exported="false" />
        <activity
            android:name=".ui.screens.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.authentication.LoginScreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <service
            android:name=".data.services.FBaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.screens.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.dashboard.menugrid.DashboardScreen"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.screens.authentication.ProfileScreen"
            android:exported="false" />
        <activity
            android:name=".ui.screens.authentication.Registration"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel" />
    </application>

</manifest>